@model IEnumerable<DroneWebApp.Models.Project>

@{
    ViewBag.Title = "Projects Index";
}

<br />
<h2 class="textAlignCenter">Projects</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Projects")">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page" />
    </ol>
</nav>
@if (User.IsInRole("Admin"))
{
    <h4>@Html.ActionLink("Create new Project", "Create", "", new { @class = "btn-info btn-lg whiteText" })</h4>
}

<hr />

<table id="prtable" class="ui celled table table-hover table-striped textAlignCenter" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Project Code")
            </th>
            <th>
                @Html.DisplayName("Site Reference Code")
            </th>
            <th>@Html.DisplayName("Flights")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteRefCode)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DroneFlights.Count) | @Html.ActionLink("View Flights", "DroneFlights", new { id = item.ProjectId }, new { @class = "btn btn-primary btn-sm whiteText" })
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProjectId }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProjectId }, new { @class = "btn btn-success btn-sm" })
                </td>
            }

        </tr>
        }
    </tbody>
</table>
