@model IEnumerable<DroneWebApp.Models.CTRLPoint>

@{
    ViewBag.Title = "CTRL Points";
}

<br />
<h2 class="textAlignCenter">Control Points</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "DroneFlights")">Drone Flights</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Details", "DroneFlights", new { id = ViewBag.DroneFlightId })">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">GCPs Drone Flight @ViewBag.droneFlight.FlightId</li>
    </ol>
</nav>

@{
    string str = "TBD";
    if (@ViewBag.droneFlight.Date != null)
    {
        str = @ViewBag.droneFlight.Date.ToString("dd/MM/yyyy, HH:mm:ss");
    }
}
<h4><strong>Drone Flight @ViewBag.droneFlight.FlightId (@ViewBag.droneFlight.Location, @str)</strong></h4>

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <a href='@Url.Action("Index", "Files", new { id = @ViewBag.droneFlight.FlightId })' class="anchor_icon">
        <img src="~/Content/images/upload_icon.png" class="img-size" title="Upload files for this Drone Flight">
        <img src="~/Content/images/upload_icon_hover.png" class="img-size" title="Upload files for this Drone Flight">
    </a>
    <br />
}

<div>
    <hr />
    <table id="ctrlptable" class="ui celled table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.X)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Y)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Z)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTRLName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.X)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Y)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Z)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Back to Flight Details", "Details", new { id = ViewBag.DroneFlightId }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Back to Drone Flights List", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
